Source: matplotlib
Section: python
Priority: optional
Maintainer: Debian Python Modules Team <python-modules-team@lists.alioth.debian.org>
Uploaders: Marco Presi (Zufus) <zufus@debian.org>,
           Alexandre Fayolle <afayolle@debian.org>,
           Vittorio Palmisano <redclay81@gmail.com>,
           Ondrej Certik <ondrej@certik.cz>,
           Sandro Tosi <morph@debian.org>
Build-Depends: debhelper (>= 5.0.38),
               dvipng,
               graphviz,
               ipython,
               libfreetype6-dev,
               libgtk2.0-dev,
               libpng-dev,
               python-all-dev (>= 2.3.5-7),
               python-all-dbg (>= 2.4.4-6),
               python-central (>= 0.5.6),
               python-configobj,
               python-dateutil,
               python-enthought-traits (>= 2.0),
               python-epydoc,
               python-gtk2-dev,
               python-numpy (>= 1:1.1.0),
               python-numpy-dbg (>= 1:1.1.0),
               python-pkg-resources,
               python-qt-dev,
               python-qt4-dev,
               python-sphinx (>= 0.4.1-2lenny1),
               python-tk,
               python-tz,
               python-wxgtk2.8,
               quilt,
               texlive-latex-extra,
               tcl8.4-dev,
               tk8.4-dev,
               zlib1g-dev
XS-Python-Version: all
Standards-Version: 3.8.0
XS-DM-Upload-Allowed: yes
Homepage: http://matplotlib.sf.net/
Vcs-Svn: svn://svn.debian.org/svn/python-modules/packages/matplotlib/trunk/
Vcs-Browser: http://svn.debian.org/wsvn/python-modules/packages/matplotlib/trunk/?op=log

Package: python-matplotlib
Architecture: any
XB-Python-Version: ${python:Versions}
Depends: ${python:Depends},
         ${shlibs:Depends},
         python,
         python-cairo,
         python-dateutil,
         python-excelerator,
         python-gtk2 | python-tk | python-wxgtk2.8 | python-qt3 | python-qt4,
         python-glade2,
         python-gobject,
         python-matplotlib-data (>= ${source:Version}),
         python-numpy (>= 1:1.1.0),
         python-pyparsing,
         python-tz
Provides: ${python:Provides}
Conflicts: python2.4-matplotlib
Replaces: python2.4-matplotlib
Enhances: ipython
Recommends: dvipng
Suggests: ipython (>= 0.6.3),
          python-configobj,
          python-enthought-traits (>= 2.0),
          python-matplotlib-doc,
          python-scipy,
          texlive-extra-utils,
          texlive-latex-extra
Description: Python based plotting system in a style similar to Matlab
 Matplotlib is a pure Python plotting library designed to bring
 publication quality plotting to Python with a syntax familiar to
 Matlab users. All of the plotting commands in the pylab interface can
 be accessed either via a functional interface familiar to Matlab
 users or an object oriented interface familiar to Python users.

Package: python-matplotlib-data
Architecture: all
Description: Python based plotting system (data package)
 Matplotlib is a pure Python plotting library designed to bring
 publication quality plotting to Python with a syntax familiar to
 Matlab users. All of the plotting commands in the pylab interface can
 be accessed either via a functional interface familiar to Matlab
 users or an object oriented interface familiar to Python users.
 .
 This package contains architecture independent data for python-matplotlib.

Package: python-matplotlib-doc
Architecture: all
Section: doc
Depends: libjs-jquery
Description: Python based plotting system (documentation package)
 Matplotlib is a pure Python plotting library designed to bring
 publication quality plotting to Python with a syntax familiar to
 Matlab users. All of the plotting commands in the pylab interface can
 be accessed either via a functional interface familiar to Matlab
 users or an object oriented interface familiar to Python users.
 .
 This package contains documentation for python-matplotlib.

Package: python-matplotlib-dbg
Architecture: any
Priority: extra
Depends: python-matplotlib (= ${binary:Version}), python-dbg, ${shlibs:Depends}
Description: Python based plotting system (debug extension)
 Matplotlib is a pure Python plotting library designed to bring
 publication quality plotting to Python with a syntax familiar to
 Matlab users. All of the plotting commands in the pylab interface can
 be accessed either via a functional interface familiar to Matlab
 users or an object oriented interface familiar to Python users.
 .
 This package contains the debug extension for python-matplotlib.
